<html>
<head>
<body>

    <div>
      <p>Listing id: <%= @listing.id %></p>
      <p><%= @listing.name %></p>
      <p><%= @listing.description %></p>
      <p><%= @listing.price_per_night %></p>
      <p>User id: <%= @listing.user_id %></p>
    </div>
</body
</head>
</html>