<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
     <link rel="stylesheet" type="text/css" href="/listings.css">
             <style>
      ul.nav a {
        margin-top: 5px;
        background-color: pink;
        float:left;
        margin-left: 10px;
      }
      ul.nav a:hover {
        cursor: pointer;
        
      }
    </style>
  </head>
  <body>
    <ul class='nav'>
      <li>
        <a href="/homepage">   
        <div class="logo">
          <img src="logo1.png" alt="MakersBnB logo" width="40" height="40">
        </div>
        </a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <li>
        <form action="/my-requests" method="get">
          <button type="submit">View My Requests</button>
        </form>
      </li>
      <li>
        <form action="/requests-for-approval" method="get">
          <button type="submit">View Requests For Me</button>
        </form>
      </li>
      <li>
        <form action="/my-listings" method="get">
          <button type="submit">View My Listings</button>
        </form>
      </li>
      <li>
        <form action="/messages" method="get">
          <button type="submit">My Messages</button>
        </form>
      </li>
    </ul>
    <h1 class="nice-title">Messages</h1>
    <% if (session[:user].id == params[:user_id]) or (session[:user].id == params[:host_id]) %>
    <div class="comment-input">
         <form action="/messages/new/<%= params[:host_id] %>/<%= params[:user_id] %>" method="post">
            <label for="content">Enter message here</label><br>
            <input class="input-box" type="text" id="content" name="content"><br>
            <input type="submit" value="Submit">
         </form>
      </div>
    <% @messages.reverse.each do |message| %> <br>
    <br>
    <br>
    <div class="big-div">
      <h1><%= (@user_repo.find_by_id(message.sender_id)).name %>: <%= message.content %></h1>
      <p><h1><%= message.date_time %></h1> </p>
      <p>&nbsp</p>
    </div>
    </div>
    
    <br><% end %>
    <%else%>
<h1>You have to be logged in to see your messages with others</h1>
<% end %>
  </body>
</html>



      