<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <ul class='nav'>
      <li>
        <a href="/homepage">MakersBnB</a>
      </li>
      <li>
        <form action="/logout" method="post">
          <button type="submit">Log Out</button>
        </form>
      </li>
      <li>
        <form action="/my-requests" method="get">
          <button type="submit">View My Requests</button>
        </form>
      </li>
      <li>
        <form action="/requests-for-approval" method="get">
          <button type="submit">View Requests For Me</button>
        </form>
      </li>
      <li>
        <form action="/my-listings" method="get">
          <button type="submit">View My Listings</button>
        </form>
      </li>
    </ul>
    <h1 class="nice-title">Requests for Approval</h1>
    <h2>Pending:</h2>
    <% pending = @booking_repository.find_by_owner_id(session[:user].id).select{|booking| booking.booked == 'pending'} %>
    <% if pending.empty? %>
      <p>No pending bookings</p>
    <% else %>
      <% pending.each do |request| %>
        <div>
          <p>Name of requester: <%= @user_repository.find_by_id(request.user_id).name %></p>
          <p>Email of requester: <%= @user_repository.find_by_id(request.user_id).email_address %></p>
          <p>Name: <%= request.name %></p>
          <p>Date Requested: <%= request.date %></p>
          <p><b>Status: Pending</b></p>       
          <form action="/accept/<%= request.id %>/<%= request.listing_id %>/<%= request.date %>/<%= request.user_id %>" method="post">
          <button type="submit">Accept</button>
          </form>
          
          <form action="/reject/<%= request.id %>/<%= request.user_id %>" method="post">
          <button type="submit">Reject</button>
          </form>
          <a href="listings/<%= request.listing_id %>">View this listing</a>
          <p>&nbsp</p>
        </div>
      <% end %>
    <% end %>

    <h2>Accepted:</h2>
    <% accepted = @booking_repository.find_by_owner_id(session[:user].id).select{|booking| booking.booked == 'yes'} %>
    <% if accepted.empty?%>
      <p>No accepted bookings</p>
    <% else %>
      <% accepted.each do |request| %>
        <div>
          <p>Name of requester: <%= @user_repository.find_by_id(request.user_id).name %></p>
          <p>Email of requester: <%= @user_repository.find_by_id(request.user_id).email_address %></p>
          <p>Name: <%= request.name %></p>
          <p>Date Requested: <%= request.date %></p>
          <p><b>Status: Accepted</b></p>
          <a href="listings/<%= request.listing_id %>">View this listing</a>
          <p>&nbsp</p>
        </div>
      <% end %>
    <% end %>

    <h2>Rejected:</h2>
    <% rejected = @booking_repository.find_by_owner_id(session[:user].id).select{|booking| booking.booked == 'no'} %>
    <% if rejected.empty?%>
      <p>No rejected bookings</p>
    <% else %>
      <% rejected.each do |request| %>
        <div>
          <p>Name of requester: <%= @user_repository.find_by_id(request.user_id).name %></p>
          <p>Email of requester: <%= @user_repository.find_by_id(request.user_id).email_address %></p>
          <p>&nbsp</p>
          <p>Name: <%= request.name %></p>
          <p>Date Requested: <%= request.date %></p>
          <p><b>Status: Rejected</b></p>
          <a href="listings/<%= request.listing_id %>">View this listing</a>
          <p>&nbsp</p>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
